body {
    margin: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header,
.footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}

.head-logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
}

.links {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 16px;
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.header {
    flex-direction: column;
    justify-content: center;
    padding: 0 150px;
    height: auto;
}

.footer {
    align-items: center;
    justify-content: center;
    height: 72px;
}

img {
    width: 900px;
    height: 220px;
    display: flex;
}

.box-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
    display: flex;
}

.box-text {
    font-size: 18px;
    display: flex;
    margin: 10px 0;
}

.box {
    flex-direction: column;
    display: flex;
}

.head-box {
    padding: 120px 0;
    display: flex;
}

button {
    font-family: Roboto, sans-serif;
    border: none;    
    border-radius: 8px;
    background: #3882f6;
    padding: 10px 14px;
    color: #f9faf8;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    border-color: #e5e7eb;
}

.quote {
    background-color: #e5e7eb;
    font-style: italic;
    font-size: 36px;
    padding: 100px 250px;
    color: #1F2937;
}

.cite {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.action-container {
    background-color: #3882f6;
    padding: 50px 100px;
    border-radius: 8px;
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.action-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.action-text {
    color: #e5e7eb;
    font-size: 18px;
}

.call-action {
    padding: 100px 150px;
    display: flex;

}

.action-text-box {
    display: flex;
    flex-direction: column;
}

.action-button{
    border: 3px solid white;
}

.card-title{
    font-size: 28px;
    color: #1F2937;
    font-weight: 800;
    
}

.cards-box{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    border: 4px solid #3882f6;
    border-radius: 8px;
    margin: 8px 16px;
    padding: 16px;
    width: 110px;
    height: 120px;
  }

.cards-container{
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
}  

.one-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-text{
    width: 150px;
    display: flex;
    text-align: center;
    color: #1F2937;
}